body{
    background-image: url(img/fondo3.jpeg);
    background-size: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: justify;
    height: auto;
    font-family: 'Arial Narrow';
}
#Comentacioseccion {
    margin-top: 20px;
}
.comment {
    border-bottom: 1px solid #aacd1e;
    padding: 10px 0;
}
.comment p {
    margin: 0;
}